@model MainProject.Models.ViewModel.CartViewModel

@{
}
<div class="card mt-2">
    <table class="bg-dark">
        <tr>
            <td style="padding-left:10px"><img src="~/media/cart2.png" width="18 " /> <label class="text-white"> Shopping Cart</label></td>
            <td class="text-right" style="padding:10px"><a asp-action="ViewCart" class="btn btn-outline-info text-info">Back to Cart</a></td>
        </tr>
    </table>
    <form method="post">
        <div class="container row" style="padding-top:20px">
            <div class="col-md-6">
                <h2 class="text-info">Pick Up Details</h2>
                <div class="form-group row mt-4">
                    <div class="col-md-4">
                        <label asp-for="orders.Name" style="padding-top:5px"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="orders.Name" value="@Model.orders.Users.Name" class="form-control" />
                        <span asp-validation-for="orders.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="orders.Phone" style="padding-top:5px"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="orders.Phone" value="@Model.orders.Users.Phone" class="form-control" />
                        <span asp-validation-for="orders.Phone"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="orders.Street" style="padding-top:5px"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="orders.Street" value="@Model.orders.Users.Street" class="form-control" />
                        <span asp-validation-for="orders.Street"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 ">
                        <label asp-for="orders.City" style="padding-top:5px"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="orders.City" value="@Model.orders.Users.City" class="form-control" />
                        <span asp-validation-for="orders.City"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="orders.State" style="padding-top:5px"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="orders.State" value="@Model.orders.Users.State" class="form-control" />
                        <span asp-validation-for="orders.State"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label style="padding-top:5px">Postal Code</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="orders.Zip_code" value="@Model.orders.Users.P_Code" class="form-control" />
                        <span asp-validation-for="orders.Zip_code"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-info ml-1 mb-4">Order Summary</h2>
                @foreach (var item in Model.carts)
                {
                    var amt = item.Rate * item.Count;
                    <div class="container border row ml-2">
                        <div class="col-md-6" style="padding-top:4px">
                            <h5 class="mt-1">@item.Products.Title</h5>
                            <label>Quantity: @item.Count</label>
                        </div>
                        <div class="col-md-6 text-right">
                            <label style="padding-top:24px">$@amt</label>
                        </div>
                    </div>
                }
                <div class="container border row ml-2 mb-4   bg-light">
                    <div class="col-md-6 mt-2 mb-2" style="padding-top:4px">
                        <h4 class="text-info">Total(USD)</h4>
                    </div>
                    <div class="col-md-6 mt-2 mb-2 text-right">
                        <h4 style="padding-top:4px" class="text-info">$@ViewBag.total</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="border bg-light">
            <div class="container row mt-4 mb-3">
                <div class="col-md-6">
                    <label class="text-danger">Estimated Arrival: @DateTime.Now.ToString("dd/MM/yyyy") to @DateTime.Now.AddDays(7).ToString("dd/MM/yyyy")</label>
                </div>
                <div class="offset-2 col-md-4">
                    <input type="submit" class="btn btn-success form-control" value="Place Order" />
                </div>
            </div>
        </div>
    </form>
</div>
